> ‰∏ªË¶ÅÊòØÁî®Êù•ËÆ∞ÂΩï pandas ÊúâÂÖ≥Áî®Ê≥ïÔºå‰ª•‰∏æ‰æãÁöÑÂΩ¢ÂºèËøõË°åÂëàÁé∞„ÄÇ

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# pandas

## Êï∞ÊçÆÁ±ªÂûãÊìç‰Ωú

In [2]:
# ‰ªéÂ≠óÂÖ∏ÂØπË±°ÂàõÂª∫DataFrameÔºåÂπ∂ËÆæÁΩÆÁ¥¢Âºï
dates = pd.date_range('today', periods=10)
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],
        'dates': dates}
indexs = [list('abcdefghij')]

df = pd.DataFrame(data=data, index=indexs)
df

  animal  age  visits priority                      dates
a    cat  2.5       1      yes 2020-09-24 16:05:33.295488
b    cat  3.0       3      yes 2020-09-25 16:05:33.295488
c  snake  0.5       2       no 2020-09-26 16:05:33.295488
d    dog  NaN       3      yes 2020-09-27 16:05:33.295488
e    dog  5.0       2       no 2020-09-28 16:05:33.295488
f    cat  2.0       3       no 2020-09-29 16:05:33.295488
g  snake  4.5       1       no 2020-09-30 16:05:33.295488
h    cat  NaN       1      yes 2020-10-01 16:05:33.295488
i    dog  7.0       2       no 2020-10-02 16:05:33.295488
j    dog  3.0       1       no 2020-10-03 16:05:33.295488

In [3]:
# ÊòæÁ§∫dfÁöÑÂü∫Á°Ä‰ø°ÊÅØÔºåÂåÖÊã¨Ë°åÁöÑÊï∞ÈáèÔºõÂàóÂêçÔºõÊØè‰∏ÄÂàóÂÄºÁöÑÊï∞Èáè„ÄÅÁ±ªÂûã
df.info()
# df.describe()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('a',) to ('j',)
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
 4   dates     10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 506.0+ bytes

In [4]:
# Á¨¨1Ôºå5Ôºå7Ë°åÁöÑ animal Âíå age Âàó
df.loc[df.index[[0, 4, 6]], ['animal', 'age']]

  animal  age
a    cat  2.5
e    dog  5.0
g  snake  4.5

In [5]:
# ÊèíÂÖ•Êñ∞Ë°å k ‰∏∫'dog', 5.5, 2, 'no',ÂíåÂΩìÂâçÊó∂Èó¥ÔºåÂπ∂Âà†Èô§
df.loc['k', :] = ['dog', 5.5, 2, 'no', datetime.now()]
df = df.drop('k')
df

  animal  age  visits priority                      dates
a    cat  2.5     1.0      yes 2020-09-24 16:05:33.295488
b    cat  3.0     3.0      yes 2020-09-25 16:05:33.295488
c  snake  0.5     2.0       no 2020-09-26 16:05:33.295488
d    dog  NaN     3.0      yes 2020-09-27 16:05:33.295488
e    dog  5.0     2.0       no 2020-09-28 16:05:33.295488
f    cat  2.0     3.0       no 2020-09-29 16:05:33.295488
g  snake  4.5     1.0       no 2020-09-30 16:05:33.295488
h    cat  NaN     1.0      yes 2020-10-01 16:05:33.295488
i    dog  7.0     2.0       no 2020-10-02 16:05:33.295488
j    dog  3.0     1.0       no 2020-10-03 16:05:33.295488

In [6]:
# ÂèñÂá∫ age Áº∫Â§± ÁöÑË°å
df[df['age'].isnull()]

  animal  age  visits priority                      dates
d    dog  NaN     3.0      yes 2020-09-27 16:05:33.295488
h    cat  NaN     1.0      yes 2020-10-01 16:05:33.295488

In [7]:
# ËÆ°ÁÆó visit ÂàóÊÄªÂíå
df['visits'].sum()

19.0

In [8]:
# ËÆ°ÁÆó animal Á±ªÂà´‰∏™Êï∞
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [9]:
# ËÆ°ÁÆóÂêÑÁ±ª animal ÁöÑÂπ≥ÂùáÂπ¥ÈæÑ
df.groupby('animal')['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [10]:
# ÊåâÁÖß visits ÂàóÂçáÂ∫èÔºåÂÜçÊåâÁÖß age ÂàóÈôçÂ∫è
df.sort_values(by=['visits', 'age'], ascending=[True, False])

  animal  age  visits priority                      dates
g  snake  4.5     1.0       no 2020-09-30 16:05:33.295488
j    dog  3.0     1.0       no 2020-10-03 16:05:33.295488
a    cat  2.5     1.0      yes 2020-09-24 16:05:33.295488
h    cat  NaN     1.0      yes 2020-10-01 16:05:33.295488
i    dog  7.0     2.0       no 2020-10-02 16:05:33.295488
e    dog  5.0     2.0       no 2020-09-28 16:05:33.295488
c  snake  0.5     2.0       no 2020-09-26 16:05:33.295488
b    cat  3.0     3.0      yes 2020-09-25 16:05:33.295488
f    cat  2.0     3.0       no 2020-09-29 16:05:33.295488
d    dog  NaN     3.0      yes 2020-09-27 16:05:33.295488

In [11]:
# Â∞Ü priority ‰∏≠ÁöÑÂÄºÊõøÊç¢‰∏∫Â∏ÉÂ∞îÂÄº
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df['priority']

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

In [12]:
# Â∞ÜÂÖ∂‰∏≠ÁöÑ snake ÊõøÊç¢‰∏∫ python
df = df.replace('snake', 'python')
df

   animal  age  visits  priority                      dates
a     cat  2.5     1.0      True 2020-09-24 16:05:33.295488
b     cat  3.0     3.0      True 2020-09-25 16:05:33.295488
c  python  0.5     2.0     False 2020-09-26 16:05:33.295488
d     dog  NaN     3.0      True 2020-09-27 16:05:33.295488
e     dog  5.0     2.0     False 2020-09-28 16:05:33.295488
f     cat  2.0     3.0     False 2020-09-29 16:05:33.295488
g  python  4.5     1.0     False 2020-09-30 16:05:33.295488
h     cat  NaN     1.0      True 2020-10-01 16:05:33.295488
i     dog  7.0     2.0     False 2020-10-02 16:05:33.295488
j     dog  3.0     1.0     False 2020-10-03 16:05:33.295488

In [13]:
# ËÆ°ÁÆóÊØèÁßç animal ÁöÑ‰∏çÂêå visit Êï∞ÈáèÁöÑÂπ≥Âùá age
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits  1.0  2.0  3.0
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

In [14]:
# Âà†Èô§ animal ÈáçÂ§çÂÄº
df.drop_duplicates(subset='animal')

   animal  age  visits  priority                      dates
a     cat  2.5     1.0      True 2020-09-24 16:05:33.295488
c  python  0.5     2.0     False 2020-09-26 16:05:33.295488
d     dog  NaN     3.0      True 2020-09-27 16:05:33.295488

## Êï∞ÂÄºÊìç‰Ωú

In [15]:
df = pd.DataFrame(np.random.randn(
    4, 5), index=range(2, 6), columns=list('abcde'))
df

          a         b         c         d         e
2  2.059834  0.839847 -0.091492  0.310205  0.970344
3 -0.081076 -1.179450  0.458150  0.565476  0.568565
4  0.811104  0.180702  0.316015 -0.378085  0.640069
5 -1.621749  0.518987  1.371764 -0.165169  1.179004

In [16]:
# df2 ÊòØ df1 ÁöÑÂêÑ‰∏™Êï∞Â≠óÂáèÂéªËØ•Ë°åÂùáÂÄº
df.sub(df.mean(axis=1), axis=0)

          a         b         c         d         e
2  1.242086  0.022099 -0.909240 -0.507542  0.152597
3 -0.147409 -1.245783  0.391817  0.499143  0.502232
4  0.497143 -0.133259  0.002054 -0.692046  0.326108
5 -1.878316  0.262420  1.115196 -0.421737  0.922436

In [17]:
# ÊâæÂá∫Âàó‰πãÂíåÊúÄÂ∞èÁöÑ‰∏ÄÂàó
print(df.sum())
df.sum().idxmin()

a    1.168112
b    0.360087
c    2.054437
d    0.332427
e    3.357982
dtype: float64

'd'

In [18]:
# ÁªôÂÆöDataFrameÔºåÊ±ÇAÂàóÊØè‰∏™ÂÄºÁöÑÂâç3‰∏™ÂØπÂ∫îBÂàóÁöÑÂÄºÁöÑÂíå
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'),
                   'B': [12, 345, 3, 1, 45, 14, 4, 52, 54, 23, 235, 21, 57, 3, 87]})
df.groupby('A')['B'].nlargest(3).sum(level='A')

A
a    409
b    156
c    345
Name: B, dtype: int64

In [19]:
# ÂØπAÂàóÊØè10Ê≠•ËøõË°åÂàÜÁÆ±ÔºåÊ±ÇÂØπÂ∫îBÂàóÁöÑÂíå
df = pd.DataFrame({'A': [1, 2, 11, 11, 33, 34, 35, 40, 79, 99],
                   'B': [1, 2, 11, 11, 33, 34, 35, 40, 79, 99]})
df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

A
(0, 10]        3
(10, 20]      22
(20, 30]       0
(30, 40]     142
(40, 50]       0
(50, 60]       0
(60, 70]       0
(70, 80]      79
(80, 90]       0
(90, 100]     99
Name: B, dtype: int64

In [20]:
# ÊúâÁÇπüöπÔºåËÆ°ÁÆóÊØè‰∏™ÂÖÉÁ¥†Ë∑ùÁ¶ªÂ∑¶‰æßÊúÄËøëÁöÑ0ÁöÑË∑ùÁ¶ª(Á¨¨‰∏Ä‰∏™ÈªòËÆ§Â∑¶‰æß‰∏∫0)ÔºåÁîüÊàêÊñ∞ÂàóY
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X']!=0).cumsum()
y = x!=x.shift()
(y!=y.shift()).cumsum() # ‰ª•0‰∏∫Èó¥Êñ≠ÁÇπËøõË°åÂàÜÁªÑ
df['Y'] = y.groupby((y!=y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [21]:
# ÊâæÂá∫ÂÖ∂‰∏≠ÊúÄÂ§ßÁöÑ‰∏â‰∏™ÂÄºÁöÑÂùêÊ†á
df = pd.DataFrame(np.random.random(size=(5,3)))
print(df)
df.T.unstack().sort_values()[-3:].index.tolist()

          0         1         2
0  0.818499  0.028165  0.856118
1  0.574988  0.117325  0.054236
2  0.175046  0.108851  0.348096
3  0.803292  0.369479  0.957689
4  0.759011  0.009401  0.010795

[(0, 0), (0, 2), (3, 2)]

In [22]:
# Â∞ÜÂÖ∂‰∏≠ÁöÑË¥üÊï∞ÊõøÊç¢‰∏∫ËØ•ÁªÑÂùáÂÄº
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [-12,345,3,1,45,14,4,-52,54,23,-235,21,57,3,87]})
def replace(group):
    mask = group < 0
    group[mask]= group[~mask].mean()
    return group

df['vals'] = df.groupby('grps')['vals'].transform(replace)
df

   grps        vals
0     a  117.333333
1     a  345.000000
2     a    3.000000
3     b    1.000000
4     b   45.000000
5     c   14.000000
6     a    4.000000
7     a  117.333333
8     b   54.000000
9     c   23.000000
10    c   36.250000
11    c   21.000000
12    b   57.000000
13    b    3.000000
14    c   87.000000

In [23]:
# ËÆ°ÁÆó3‰ΩçÊªëÂä®Á™óÂè£ÁöÑÂπ≥ÂùáÂÄºÔºåÂøΩÁï•NAN
df = pd.DataFrame({'group': list('aabbabbbabab'),
                    'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
g1 = df.groupby('group')['value']
g2 = df.fillna(0).groupby('group')['value']
s = g2.rolling(3,min_periods=1).sum() / g1.rolling(3,min_periods=1).count()
s.reset_index(level=0,drop=True).sort_index()

0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
Name: value, dtype: float64